<%-include("header"); %>


<table class="table">
    <thead>
      <tr>
        <th>Sr no</th>
        <th>name</th>
        <th>email</th>
        <th>mobile</th>
        <th>profile</th>
        <th>action</th>
      </tr> 
    </thead>
    <tbody>
      <% usersList.forEach((val,i)=>{%>
      <tr>
        <th><%= i+1 %></th>
        <td><%= val.name %></td>
        <td><%= val.email %></td>
        <td><%= val.mobile %></td>
        <td>
          <img src="public/upload/<%= val.img %>" width="200" height="150" alt=""/>
         </td>
        <td>
         <a href="/deleteUser/<%= val._id%>"><button class="btn btn-danger">delete</button></a> 
         <a href="/updateUser/<%= val._id%>"><button class="btn btn-warning">update</button></a> 
        </td>
      </tr>
      <%})%>
 
    
    </tbody>
  </table>
<%-include("footer"); %>